{% extends './base.html'%}

{% block title%}Reserva{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{url_for('static', filename='css/paper-bootstrap-wizard.css')}}">
{% endblock %}


{% block Libraries %}
<!-- Canonical SEO -->
<link rel="canonical" href="https://www.creative-tim.com/product/paper-bootstrap-wizard" />

<meta name="keywords"
	content="wizard, bootstrap wizard, creative tim, long forms, 3 step wizard, sign up wizard, beautiful wizard, long forms wizard, wizard with validation, paper design, paper wizard bootstrap, bootstrap paper wizard">
<meta name="description"
	content="Paper Bootstrap Wizard is a fully responsive wizard that is inspired by our famous Paper Kit  and comes with 3 useful examples and 5 colors.">

<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="Paper Bootstrap Wizard by Creative Tim">
<meta itemprop="description"
	content="Paper Bootstrap Wizard is a fully responsive wizard that is inspired by our famous Paper Kit  and comes with 3 useful examples and 5 colors.">
<meta itemprop="image" content="https://s3.amazonaws.com/creativetim_bucket/products/49/opt_pbw_thumbnail.jpg">

<!-- Open Graph data -->
<meta property="og:title" content="Paper Bootstrap Wizard by Creative Tim | Free Boostrap Wizard" />
<meta property="og:type" content="article" />
<meta property="og:url" content="https://demos.creative-tim.com/paper-bootstrap-wizard/wizard-list-place.html" />
<meta property="og:image" content="https://s3.amazonaws.com/creativetim_bucket/products/49/opt_pbw_thumbnail.jpg" />
<meta property="og:description"
	content="Paper Bootstrap Wizard is a fully responsive wizard that is inspired by our famous Paper Kit  and comes with 3 useful examples and 5 colors." />
<meta property="og:site_name" content="Creative Tim" />

<!-- Fonts and Icons -->
<link href="https://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
<link href="assets/css/themify-icons.css" rel="stylesheet">

<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
{% endblock %}


{% block body %}

<form class="mt-5 pt-5" method="post" action="/reserva">
	<div>
		<label class="">Cantidad de personas</label>
		<input class="" name="cantperson" type="number" min="1" required>
	</div>
	<div>
		<label class="">Fecha</label>
		<input name="fecha" type="text" id="datepicker" required>
	</div>

	<div>
		<label class="">Hora</label>
		<input name="hora" class="" id="timepicker" required>
	</div>
	<div>
		<button id="butt" type="submit">Reservar</button>
	</div>
</form>

<script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
<script type="text/javascript">

	$(document).ready(function () {

		$('#datepicker').datepicker({
			dateFormat: "dd-mm-yy",
			changeMonth: true,
			changeYear: true,
			maxDate: '1M',
			minDate: new Date()
		});
		$('#timepicker').timepicker({
			timeFormat: 'h:mm',
			interval: 30,
			minTime: '8',
			maxTime: '10:00pm',
			defaultTime: '11',
			startTime: '8:00',
			dynamic: false,
			dropdown: true,
			scrollbar: true
		});
	})
</script>

{% endblock %}