{% extends './basecolaboradores.html'%}

{% block title%}Inicio de sesión{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css')}}">
{% endblock %}

{% block body %}
<form class="form-signin text-center" action="/login_colaborador" method="POST">
  <h1 class="h3 mb-3 fw-normal">Inicio de sesión</h1>
  <!-- Bloque para escribir el error -->

  <div class="form-floating">
    <input type="text" class="form-control" id="user" name="user" placeholder="Usuario">
    <label for="floatingInput">Usuario</label>
  </div>
  <div class="form-floating">
    <input type="password" class="form-control" id="password" name="password" placeholder="contraseña">
    <label for="floatingPassword">Contraseña</label>
  </div>
  <button class="btn btn-primary w-100 py-2" type="submit">Iniciar sesión</button>
  {% if error %}
  <div class="alert alert-danger mt-2" role="alert">
    {{ error }}
  </div>
  {% endif %}
  <p class="mt-5 mb-3 text-body-secondary">Interfaz de parte del negocio</p>
</form>
{% endblock %}