{% extends './base.html'%}

{% block title%}Registro{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/home.css')}}">
{% endblock %}


{% block sesionbutton %}
<a class="dropdown-item" href="#iniciosesion" id="modalNew" data-toggle="modal" data-target="#iniciosesion">Iniciar
  sesión</a>
<a class="dropdown-item" href="{{ url_for('registro_usuario') }}">Registrarse</a>
{% endblock %}



{% block body %}
<form action="/registro_usuario" class="h-100 bg-dark" method="POST">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card card-registration my-4">
          <div class="row g-0">
            <div class="col-lg-6" style="min-height: 500px;">
              <div class="position-relative h-100">
                  <img class="position-absolute w-100 h-100"
                      src="{{url_for('static', filename='img/imregister.jpg')}}" style="object-fit: cover;">
              </div>
          </div>
            <div class="col-xl-6">
              <div class="card-body p-md-5 text-black">
                <h3 class="mb-5 text-uppercase">Registro de usuario</h3>
                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div class="form-group">
                      <label for="nombres" class="form-label">Nombres</label>
                      <input type="text" id="nombres" name="nombres" class="form-control form-control-lg" value="{{ nombres}}" required/>
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="form-group">
                      <label for="apellidos" class="form-label">Apellidos</label>
                      <input type="text" id="apellidos" name="apellidos" class="form-control form-control-lg" value="{{ apellidos }}" required/>
                    </div>
                  </div>
                </div>
                <div class="form-group mb-4">
                  <label for="cedula" class="form-label">Cédula</label>
                  <input type="text" id="cedula" name="cedula" class="form-control form-control-lg" pattern="[0-9]{3}-[0-9]{6}-[0-9]{4}[A-Za-z]?" placeholder="001-010101-0001A" value="{{ cedula }}" required/>
                </div>
                <div class="form-group mb-4">
                  <label for="correo" class="form-label">Correo eléctronico</label>
                  <input type="email" id="correo" name="correo" class="form-control form-control-lg" value="{{ correo }}" required/>
                </div>
                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div class="form-group">
                      <label for="contraseña" class="form-label">Contraseña</label>
                      <input type="password" id="contraseña" name="contraseña" class="form-control form-control-lg" required/>
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="form-group">
                      <label for="repetir" class="form-label">Repetir contraseña</label>
                      <input type="password" id="repetir" name="repetir" class="form-control form-control-lg" required/>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-group">
                    <label for="telefono" class="form-label">Teléfono</label>
                    <input type="text" id="telefono" name="telefono" class="form-control form-control-lg" pattern="[0-9]{8}" placeholder="8888-1234" value="{{ telefono }}" required/>
                  </div>
                </div>
                <div class="d-flex justify-content-end pt-3">
                  <label class="mt-2 pt-3" style="display: block; text-align: center;">¿Ya tienes una cuenta? <a href="{{ url_for('login_usuario') }}"><br>Inicia sesión</a></label>
                  <button type="submit" class="btn btn-warning btn-lg ms-2 mr-3">Registrarse</button>
                </div>
                {% if error %}
                <div class="alert alert-danger mt-2" role="alert">
                  {{ error }}
                </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}