{% extends './basecolaboradores.html'%}

{% block title%}Solicitudes pendientes{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css')}}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>



{% endblock %}

{% block body %}
<h2>Aceptación de solicitud</h2>
{% if error %}
<div class="alert hide">
	<span class="fas fa-exclamation-circle"></span>
	<span class="msg">{{ error }}</span>
	<div class="close-btn">
		<span class="fas fa-times"></span>
	</div>
</div>
<script>
	$(document).ready(function () {
		$('.alert').addClass("show");
		$('.alert').removeClass("hide");
		$('.alert').addClass("showAlert");
		setTimeout(function () {
			$('.alert').removeClass("show");
			$('.alert').addClass("hide");
		}, 5000);
	});
	$('.close-btn').click(function () {
		$('.alert').removeClass("show");
		$('.alert').addClass("hide");
	});
</script>
{% endif %}
<div class="container-fluid" id="grad1">
	<div class="row justify-content-center mt-0">
		<div class="col-11 col-sm-9 col-md-7 col-lg-10 text-center p-0 mt-3 mb-2">
			<div class="card px-0 pt-4 pb-0 mt-3 mb-3">
				<div class="row">
					<div class="col-md-12 mx-0">
						<form id="msform" method="POST" action="/aceptar_solicitud/{{ user_row.id_reservas }}">
							<fieldset>
								<div class="form-card text-center">
									<h2 class="fs-title text-center">Datos del cliente</h2>
									<!-- Es utilizado el user_data de la cuenta -->
									<div class="row">
										<div class="col-md-6">
											<label class=""><b>Cédula</b></label>
											<p>{{ user_row.cedula }}</p>
										</div>
										<div class="col-md-6">
											<label class=""><b>Nombre y apellido</b></label>
											<p>{{ user_row.nombres}} {{ user_row.apellidos}}</p>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<label class=""><b>Correo eléctronico</b></label>
											<p>{{ user_row.correo }}</p>
										</div>
										<div class="col-md-6">
											<label class=""><b>Teléfono</b></label>
											<p>{{ user_row.telefono }}</p>
										</div>
									</div>
									<h2 class="fs-title text-center">Datos de la solicitud</h2>
									<div class="row">
										<!-- Acá ya es utilizado las variables del javascript -->
										<div class="col-md-6">
											<label class="confirm-label"><b>Cantidad de personas</b></label>
											<p>{{ user_row.cantperson }}</p>
										</div>
										<div class="col-md-6">
											<label class="confirm-label"><b>Fecha solicitada para la reserva</b></label>
											<p>{{ user_row.fecha }}</p>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<label class="confirm-label"><b>Hora solicitada de la reserva</b></label>
											<p>{{ user_row.hora }}</p>
										</div>
										<div class="col-md-6">
											<label class="confirm-label"><b>Fecha y hora de envío de
													solicitud</b></label>
											<p>{{ user_row.registroreserva }}</p>
										</div>
									</div>
									<h2 class="fs-title text-center">Seleccion de mesas</h2>

									<div class="table-responsive">
										<table class="table table-bordered">
											<thead>
												<tr>
													<th>Mesa</th>
													<th>Maximo Silla</th>
													<th>Seleccionar</th>
												</tr>
											</thead>
											<tbody>
												{% for i in rmesas %}
												<tr>
													<td>{{i.id_mesa}}</td>
													<td>{{i.max_sillas}}</td>
													<td><input type="checkbox" name="cbmesas" value="{{i.id_mesa}}">
													</td>
												</tr>
												{% endfor %}
											</tbody>
										</table>
									</div>
									<div class="row mt-3">
										<div class="col-md-12 text-center">
											<button class="btn btn-success" type="submit"
												id="save-submit-btn">Aceptar</button>
											<a href="/rechazo_solicitud/{{ user_row.id_reservas }}"
												class="btn btn-danger">Rehazar</a>
										</div>
									</div>

								</div>
							</fieldset>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	setTimeout(function () {
		location.reload();
	}, 150000); // 8000 milisegundos = 8 segundos
</script>
{% endblock %}